<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/utility.js"></script>
    <script type="text/javascript" src="/javascripts/hq_web_main.js"></script>
    <script type="text/javascript" src="/javascripts/twitter_toggle.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
	  
    <div class="tabBundler">
      <div id="recent" class="boxs timeline">
      </div>
      <div id="reply" class="boxs timeline">
      </div>
      <div id="favorites" class="boxs timeline">
      </div>
      <div id="search" class="boxs timeline">
      </div>
    </div>
    <ul id="tabs">
      <li name="recent" id="lirecent" onclick='tabClick("recent");' class="boxs tab">
        <span class="pad">Recent</span>
      </li>
      <li name="reply" id="lireply" onclick='tabClick("reply");' class="boxs tab">
        <span class="pad">Reply</span>
      </li>
      <li name="favorites" id="lifavorites" onclick='tabClick("favorites");' class="boxs tab">
        <span class="pad">Favorites</span>
      </li>
      <li name="search" id="lisearch" onclick='tabClick("search");' class="boxs tab">
        <span class="pad">Search</span>
      </li>
    </ul>
    <div class="textBoxAndPostButton">
      <textarea id="textbox" cols="30" rows="10"></textarea>
      <input class ="postbutton" type="button" value="post" onclick="click_post_button();" />
    </div>
  </body>
</html>