<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/utility.js"></script>
    <script type="text/javascript" src="/javascripts/hq_web_main.js"></script>
    <script type="text/javascript" src="/javascripts/twitter_toggle.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="overlay">
      <p id="close">close</p>
      <p id="text">
        <div id="userInfo">
          <div id="userInfos">
            <div id="userIname">Hoge</div>
            <div id="userIid">Fuga</div>
            <div id="userIicon">
              <img id="userIcon" src="http://alpha-kai-net.info/img/icon3.png">
            </div>
            <p id="bio">
              Bio<br>
              <span id="location">Undefined</span><br>
              <span id="userUrl">Undefined</span>
            </p>
          </div>
          <ul id="tabs2">
            <li id="userTweets" name="userTweetsBox" onclick='tabClick("userTweetsBox", "tabs2")'>
              <span class="tabLabel">Tweets</span>
            </li>
            <li id="userFollowing" name="userFollowingBox" onclick='tabClick("userFollowingBox", "tabs2")'>
              <span class="tabLabel">Following</span>
            </li>
            <li id="userFollower" name="userFollowerBox" onclick='tabClick("userFollowerBox", "tabs2")'>
              <span class="follower">Follower</span>
            </li>
          </ul>
          <div id="userTweetsBox" class="boxs">
            <div class="userTweet">
              <div class="postIcon">
                <img id="userIcon" src="Path to Icon">
              </div>
              <div class="postAuthor">Name</div>
              <div class="postMain">Post</div>
              <div class="status">FAV:0/RT:0</div>
            </div>
          </div>
          <div id="userFollowingBox" class="boxs">
            <div class="users">
              <div class="userIcon">
                <img id="userIcon" src="Path to Icon">
              </div>
              <div class="userName">
                Following User
              </div>
            </div>
          </div>
          <div id="userFollowerBox" class="boxs"></div>
        </div>
      </p>
    </div>
    <div class="tabBundler">
      <div id="recent" class="boxs timeline">
      </div>
      <div id="reply" class="boxs timeline">
      </div>
      <div id="favorites" class="boxs timeline">
      </div>
      <div id="search" class="boxs timeline">
      </div>
    </div>
    <ul id="tabs">
      <li name="recent" id="lirecent" onclick='tabClick("recent", "tabs");' class="boxs tab">
        <span class="pad">Recent</span>
      </li>
      <li name="reply" id="lireply" onclick='tabClick("reply", "tabs");' class="boxs tab">
        <span class="pad">Reply</span>
      </li>
      <li name="favorites" id="lifavorites" onclick='tabClick("favorites", "tabs");' class="boxs tab">
        <span class="pad">Favorites</span>
      </li>
      <li name="search" id="lisearch" onclick='tabClick("search", "tabs");' class="boxs tab">
        <span class="pad">Search</span>
      </li>
    </ul>
    <div class="textBoxAndPostButton">
      <textarea id="textbox" cols="30" rows="10"></textarea>
      <input class ="postbutton" type="button" value="post" onclick="click_post_button();" />
    </div>
  </body>
</html>
