<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
  <script>
    function AutoJump() {
      location.href = "http://localhost:3000/";
    }
  </script>
</head>
<body onLoad="javascript:setTimeout('AutoJump()',5000);">
	<p>少々お待ちください 2秒後にリダイレクトします</p>
</body>
</html>