body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  height:53px;
  padding: 5px;
  margin-bottom: 7px;
  color: #FFF;
  background-color: #0593e2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.reply{
  background-color:#922c2c;
}
img {
  position:absolute;
  float:left;
}
.tweet{
  padding-left:53px;
}
textarea{
  height:60px;
  width:800px;
}
.toggle{
  display:inline;
  float:right;
}
.reply, .rt, .favorite{
  margin-left:5px;
  padding-left:5px;
  margin-right:5px;
  padding-right:5px;
}
.reply{
  background-color:#861313;
}
.rt{
  background-color:#0b4747;
}
.favorite{
  background-color:#cc6e28;
}