body {
  margin-top:20px;
  margin-left:50px;
  font: 14px "Lucida  Grande", Helvetica, Arial, sans-serif;
  background-color:#2c2c2c;
  color:white;
}

a {
  color: #b9d3e2;
  text-decoration:none;
}

textarea {
  height: 62px;
  width: 945px;
  float:left;
}

input.postbutton {
  height: 70px;
  width: 50px;  
}

ul#tabs {
  width: 1000px;
  background-color:#939393;
  padding:5px 0px;
  /* 302 */
  list-style: none;
}

ul#tabs li {
  padding:5px 0px;
  border-right: 1px #939393 solid;
  display: inline;
  background-color: #2e396a;
}

span.pad {
  padding: 3px;
}

ul#tabs li#last {
  border-right: 0;
}

ul#tabs li.open {
  background-color: #40919b;
  color: #fff;
}

.timeline {
  overflow: auto;
  width: 1000px;
  height: 630px;
}

div#recent {
  background-color: #ffffff;
}

div#reply {
  background-color: #b14f5d;
}

div#favorites {
  background-color: #bc9267;
}

div#search {
  background-color: #76bf99;
}
li.tab:hover {
  background-color:#8a4444;
  transition:background-color;
  transition-duration: 0.6s;
  transition-timing-function:ease-out;
}
div.toggleReaction {
  display:inline;
  float:right;
}
span.toggleParts {
  text-decoration-line: underline;
  padding-left: 2px;
  padding-right: 2px;
}
a.treply {
  border-left:2px #a4a4a4 solid;
  background-color: #9f3d3e;
}
a.tretweet {
  border-left:2px #a4a4a4 solid;
  background-color:#21334c;
}
a.tfavorite {
  border-left:2px #a4a4a4 solid;
  border-right:2px #a4a4a4 solid;
  background-color:#b87d4a;
}
div.statusIstweet {
  height: 80px;
  background-color:#387a87;
}
div.statusIsreply {
  height: 80px;
  background-color:#943a41;
}
img.userIcon {
  height: 48px;
  width: 48px;
  float:left;
}

div.userName {
  border:1px solid #48a5a6;
}

div.tweetBody {
  margin:10pxl;
  height:40px;
  width:800px;
  overflow:auto;
}
